.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  display:flex;
  width: 30%;
  height: 30%;
  background-color: #f6f8fa;
  align-items: center;
  justify-content: center;
}

.profiles {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  height: 50vh;
  background-color: #282c34;
  justify-content: space-between;
  align-items: center;
}

.profile-container {
  display:flex;
  width:100%;
  height:80%;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}


.image-container {
  display:flex;
  width:100%;
  height:20%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.body {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: green;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  margin:0;
  flex-wrap:nowrap  ;
}

.header-row {
  display: flex;
  flex-direction: row;
  /* background-color:silver; */
}

.title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 40vh;
  text-align: center;
}

.title-text {
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 2em;
}

