#body {
  height: 100%;
  margin: 0;
}

#home-page-container {
  background-color: black;
}

#home-page-container h1 {
  height: 100%;
  color: white;
  padding-top: 260px;
  font-size: 120px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
}

#enter-btn {
  align-items: center;
  display: inline-block;
  position: relative;
  margin-top: -5px;
  margin: 50px 20px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 12px;
  color: black;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 6px 20px;
  touch-action: inherit;
}

#home-page-about-us-container {
  font-weight: bold;
  color: black;
  align-items: center;
  display: inline-block;
  position: relative;
  margin: 50px 00px;
}

#home-page-about-us-container h1 {
  font-weight: bold;
  color: black;
}

#home-page-about-us-container h2 {
  color: black;
  margin: 15px 140px;
}


#home-page-about-us-container h4 a {
  color: #989797;
  margin: -7px 70px;
}