#body {
  background-color: black;
  height: 100%;
  margin: 0;
}

#home-page-container h1 {
  height: 100%;
  color: white;
  padding-top: 260px;
  font-size: 120px;
  /* margin: auto; */
  font-family: Raleway, "Open Sans", sans-serif;
  font-weight: 700;
}

#enter-btn {
  align-items: center;
  display: inline-block;
  position: relative;
  margin-top: -5px;
  margin: 50px 20px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 12px;
  color: black;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 6px 20px;
  touch-action: inherit;

  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* vertical-align: top; */
  /* white-space: nowrap; */
  /* width: 150px; */
  /* box-shadow: none;
  box-sizing: border-box; */
  /* appearance: none; */
  /* height: 2.5em; */
  /* line-height: 1.5; */
}