.form-container {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    margin-left: auto; 
    margin-right: auto;
   align-items: center;
   width: 450px;
   padding: 10px;
   border-radius: 10px;
   background-color: white;
}

.sponsorship-form {
    margin: auto;
    padding: 30px;
  

}

.sponsorship-form h2{
    margin: 0;
    padding-bottom: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
    font-weight: 200;
    color: rgb(65, 65, 65);

}

.sponsorship-form input {
    padding: 8px;
    margin-right: 10px; 
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

.sponsorship-form input:focus {
    outline: none;
}

.sponsorship-form select {
    margin-right: 10px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid black;
}

.sponsorship-form select:focus {
    outline: none;
}

.sponsorship-form #image {
    width: 350px;
}

.sponsorship-form #create {
    margin-top: 10px;
    width: 360px;
    padding: 10px;
     border-radius: 20px; 
    border: none;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0.3px 1px 0.5px rgb(184, 184, 184);
    background-color: rgb(84, 177, 214);
    text-transform: uppercase;
    font-weight: 500;
}