.form-container {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 450px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.sponsorship-form {
    margin: auto;
    padding: 30px;


}

.sponsorship-form h2 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 24px;
    font-family: Raleway, "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    color: rgb(65, 65, 65);
}

.sponsorship-form input {
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

.sponsorship-form input:focus {
    outline: none;
}

.sponsorship-form select {
    margin-bottom: 20px;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}

.sponsorship-form select:focus {
    outline: none;
}

.sponsorship-form #image {
    
}

.sponsorship-form #create {
    margin-top: 10px;
    width: 360px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0.3px 1px 0.5px rgb(184, 184, 184);
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: #02a95c;
}

.sponsorship-form ::placeholder {
    color: black;
    align-items: center;
    text-align: center;
}