.search-bar input {
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #02a95c;
    color: #02a95c;
    padding: 2px 20px;
    margin: 50px 20px;
    align-items: center;
    display: inline-block;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.search-bar ::placeholder {
    color: #02a95c;
    align-items: center;
    text-align: center;
}

.search-bar input:focus {
    border-color:#02a95c;
    outline: none !important;
}
