.sponsorship-page {
    margin: 20px;
    margin-top: 30px
}

.sponsorship-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1% 10%;
}

Search {
    width: 100%;
}

.show-form-div h3 {
    font-size: 26px;
    font-family: Raleway, "Open Sans", sans-serif;
    font-weight: 400;
    color: rgb(93, 93, 93);
    
}
.show-form-div {
    margin-top: 70px;
    height: 400px;
    font-size: 14px;
    font-family: Raleway, "Open Sans", sans-serif;
}

.add-sponsorship-btn,
.add-sponsorship-btn:active,
.add-sponsorship-btn:focus {
    padding: 2px 50px;
    border-radius: 30px; 
    border-width: 2px;
    border-color: #02a95c;
    border-style: solid;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    font-family: Raleway, "Open Sans", sans-serif;
    color: #02a95c;
    font-weight: bold;
    box-shadow: none;
}

